* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
.header {
  background-color: #dddddd;
  height: 900px;
}
.roca {
  padding: 50px;
  height: 56px;
}
.header h1 {
  color: black;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.header span {
  color: #0081ff;
}
.header .template {
  color: #b3b3b3;
  font-size: 10px;
}
.aboutme {
  color: #373737;
  padding: 90px 81px;
  font-size: 30px;
  font-weight: bolder;
  font-family: "poppins", sans-serif;
}
.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my-info {
  padding-top: 100px;
  padding-left: 50px;
}
.HI {
  color: #212121;
  font-size: 50px;
  font-family: "Glacial Indifference-regular", sans-serif;
}
.name {
  color: #212121;
  font-size: 71px;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.wrapper {
  margin-top: 50px;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.button a {
  text-decoration: none;
  color: #212121;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

.dew {
  font-size: 25px;
  color: #212121;
  font-family: "Glacial Indifference-regular", sans-serif;
}
.clients {
  margin-left: 80%;
  margin-right: 5%;
  margin-top: 150px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: #e93656 solid;
  font-weight: bold;
}
.clients span {
  color: #e93656;
}

.information {
  display: flex;

  margin-left: 20%;
}
.my-info {
  margin-left: 50px;
}
.container {
  width: 400px;
  height: 500px;
  margin-top: -60px;
}
.images img {
  width: 450px;
  height: 550px;
  border-radius: 10px;
  margin-top: -10px;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.7);
}
.para {
  background-color: #212121;
}
.container-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  justify-content: center;
  text-align: right;
}
.conSECOND-info {
  max-width: 335px;
  margin: 50px;
}
.image img {
  width: 300px;
}
.conSECOND-info h1 {
  font-size: 40px;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.conSECOND-info span {
  color: #daae19;
  font-size: 14px;
}
.conSECOND-info p {
  margin-top: 20px;
}
.hire-button {
  background-color: #e93656;
  margin-left: 220px;
  padding: 10px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.hire-button a {
  text-decoration: none;
  color: #fff;
}
.hire-button:hover {
  background: #611825;
}
.icons {
  margin-top: 50px;
  text-align: center;
}
.icons span {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 2px;
}
.icons span:hover {
  background-color: #15263e;
  color: #fff;
}
/* MY SKIILS */
.skills-area {
  display: flex;
  flex-direction: column;
}

.skill {
  width: 300px;
  position: relative;
  margin: 20px 40px;
}

.skill-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: start;
}

.skill-bar {
  width: 300px;
  background: rgba(168, 168, 168, 0.6);
  height: 20px;
  border-radius: 15px;
  position: absolute;
}

.skill-fill {
  background: blue;
  height: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.skill-percent {
  height: 20px;
  border-radius: 5px;
  position: absolute;
  padding-right: 5px;
}
.html {
  animation: html 5s infinite 5s;
  width: 50%;
}

.css {
  animation: css 5s infinite 5s;
  width: 80%;
}

.js {
  animation: js 5s infinite 5s;
  width: 60%;
}
.bt {
  animation: bt 5s infinite 5s;
  width: 80%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes bt {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

/* სკილი */
.contact {
  margin-top: 100px;
  height: 150px;
  background-color: #131a36;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact i {
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: 2px dashed;
  border-radius: 50%;
  cursor: pointer;
}
.contact i:hover {
  background-color: #e93656;
  border: none;
  padding: 22px;
}
.contact span {
  color: #fff;
  font-size: 25px;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.contact a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-left: 70px;
  font-family: "Glacial Indifference-regular", sans-serif;
}
.contact a:hover {
  color: blue;
  border-bottom: 1px solid;
}
.first-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.first-card div {
  max-width: 285px;
  width: 250px;
  height: 300px;
  background-color: #beb7b7;
  box-shadow: 5px 5px 20px black;
}
.card-icons {
  padding-top: 70px;
}
.first-card span {
  font-size: 25px;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.second-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  gap: 20px;
}
.second-card div {
  max-width: 285px;
  width: 250px;
  height: 300px;
  background-color: #beb7b7;
  box-shadow: 5px 5px 20px black;
}
.second-icons {
  padding-top: 70px;
}
.second-card span {
  font-size: 25px;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.card-icons:hover {
  background-color: #15263e;
  color: #fff;
}
.card-icons p {
  display: none;
  padding: 10px 0px 70px 0px;
  font-family: "Muli-light" sans-serif;
}
.card-icons:hover p {
  display: block;
}
.card-icons:hover img {
  display: none;
}
.second-icons:hover {
  color: #fff;
  background-color: #131a36;
}
.second-icons p {
  font-family: "Muli-light" sans-serif;
  display: none;
  padding: 10px 0px 70px 0px;
}
.second-icons:hover p {
  display: block;
}
.second-icons:hover img {
  display: none;
}
/* middle section */
.middle-sec {
  margin-top: 100px;
  height: 500px;
  background-image: url("../image/clip.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.circle {
  border: 3px dashed #fff;
  border-radius: 50%;
  padding: 2px;
  animation: animation 0.5s infinite;
}
.circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-top: 2px;
}
.middle-sec p {
  width: 300px;
  text-align: end;
}
.middle-sec h1 {
  color: #fff;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.middle-sec span {
  color: #e93656;
  font-size: 15px;
}
.check-box {
  margin-bottom: 50px;
}
.project h1 {
  width: 200px;
  margin: 100px 50%;
  transform: translate(-50%);
}
.latest-project {
  margin: 50px;
  display: flex;
  justify-content: center;
}
#buttons {
  background-color: #131a36;
  width: 240px;
  height: 400px;
  text-align: center;
}
#buttons .btn {
  margin-top: 20px;
  font-size: 20px;
  padding: 5px;
  border: none;
  background-color: #131a36;
  color: white;
}
#buttons .btn:hover {
  color: #e93656;
  cursor: pointer;
}

.all-project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
}
.project-first {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.project-img {
  width: 250px;
  height: 260px;
}
.hide-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -200px;
  display: none;
}

.project-icons {
  width: 40px;
  margin-left: 105px;
  margin-bottom: 30px;
  border: 2px solid rgb(236, 12, 87);
  border-radius: 50%;
  padding: 8px;
  backdrop-filter: blur(2px);
}
.hide-card span {
  margin-left: -80px;
  margin-bottom: 20px;
  color: white;
}
.hide-card h1 {
  backdrop-filter: blur(2px);
  padding-left: 75px;
  margin-top: -1px;
  padding-top: 20px;
  position: absolute;
  font-family: "Glacial Indifference-bold", sans-serif;
}
.project-card:hover .hide-card {
  display: block;
}

/*LATEST-ARTICLES */
.title {
  width: 100%;
  margin-top: 90px;
  text-align: center;
}
.title div {
  font-family: "Glacial Indifference-regular", sans-serif;
  font-size: 10px;
  color: #2ed279;
}
.title h1 {
  font-family: "Glacial Indifference-Bold", sans-serif;
  margin-bottom: 50px;
  font-size: 70px;
  color: #2e2e2e;
}
.article-container {
  display: flex;
  flex-wrap: wrap;
}

.graphic-design {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
}
.first-section img {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 30px 10px;
}
.first-section span {
  font-family: "Muli";
  font-size: 13px;
  color: #888888;
  padding-left: 25px;
}
.first-section h1 {
  font-family: "Glacial Indifference-Bold";
  font-size: 50px;
  color: #161616;
  padding: 0px 20px 20px;
}
.first-section p {
  font-family: "Muli";
  color: #494949;
  padding-left: 20px;
}

.read-more {
  margin: 10px 30px;
}
.read-more a {
  font-family: "Muli";
  color: #444444;
  text-decoration: none;
}
.read-more a:hover {
  color: blue;
  cursor: pointer;
  text-decoration-line: underline;
}
.design-img img {
  max-width: 549px;
  width: 100%;
  height: 100%;
}
.years {
  background-color: #15263e;
  height: 100%;
  width: 125px;
  color: #e93656;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.years span {
  font-family: "Glacial Indifference-regular";
  transform: rotate(90deg);
  font-size: 25px;
}
.article-container2 {
  display: flex;
  flex-wrap: wrap;
}
.article-container2 .first-section {
  margin-left: 100px;
}
.article-container2 .first-section img {
  border-radius: 50%;
  margin: 30px 10px;
  padding: 0;
}
.article-container3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.article-container3 .first-section img {
  border-radius: 50%;
  margin: 30px 10px;
  padding: 0;
}
.first-section p {
  width: 90%;
}
/* rosa team */
.event-title {
  margin-top: 50px;
  text-align: center;
}
.event-title span {
  font-size: 14px;
  color: #2ed279;
  padding-left: 20px;
}
.event-title h1 {
  font-size: 70px;
  font-family: "Glacial Indifference-regular";
}
.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}
.client {
  width: 180px;
  height: 160px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fbfbfc;
}
.client img {
  color: #fff;
}
.client-info {
  display: none;
}
.client:hover {
  border: 4px solid #e93656;
  background-color: white;
  padding: 30px;
}
.client:hover img {
  display: none;
}
.client:hover .client-info {
  display: block;
}
/* add form */
.form {
  margin-top: 160px;
  background-image: url(../image/map.jpg);
  width: 100%;
  min-height: 400px;
  height: auto;
  padding-top: 75px;
  position: relative;
}
.contact-us {
  text-align: center;
}
.contact-us h1 {
  font-family: "Jaapokki";
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 12px;
}
.contact-us span {
  font-family: "Roboto-light";
  display: block;
  font-size: 17px;
  color: #f3eded;
  margin-bottom: 40px;
}
.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.input-box {
  display: flex;
}
.input-box input {
  height: 50px;
  width: 200px;
  padding-left: 10px;
}
.input-box ::placeholder {
  color: black;
  font-family: "Poppins-bold";
}
.field {
  width: 46%;
  min-height: 150px;
  padding: 10px;
}
.field::placeholder {
  color: black;
  font-family: "Poppins-bold";
}
.send-btn {
  margin: 50px;
}
.send-btn a {
  background-color: #e93656;
  color: #fff;
  text-decoration: none;
  border: 2px solid #f3f1f1;
  padding: 10px;
  font-family: "Glacial Indifference-Bold";
}
/* start footer */
footer {
  min-height: 360px;
  height: auto;
  background-color: #282828;
  color: white;
}
footer h1 {
  margin-top: 30px;
  font-size: 50px;
  font-family: "Poppins-Bold";
}
footer h1 span {
  color: #e93656;
  font-size: 70px;
}
.roca-p {
  max-width: 450px;
  width: 80%;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.roca-icons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  font-size: 30px;
  color: #00bec5;
}
.my-link a {
  color: #00bec5;
}
.my-link a:hover {
  color: white;
}
.footer-bottom {
  background-color: #171717;
  color: #a0a8b7;
  height: 60px;
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
}
.footer-bottom span {
  color: #fff;
}
